<section>
     <header class="p-5">
          <form (ngSubmit)="onLogoutUser()">
               <button type="submit" class="btn btn-danger">
                    Logout
               </button>
          </form>
     </header>
     <div class="form m-5">
          <form class="card p-3" #bloodForm="ngForm" (ngSubmit)="onSubmitUser(bloodForm)">
               <h1 class="text-light text-center mb-4 auth-b">Blood Donate </h1>
               <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. om singh" ngModel name="name" required>
               </mat-form-field>
               <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" ngModel name="email" matInput placeholder="Ex. pat@example.com" required email>
               </mat-form-field>

               <mat-form-field class="example-full-width">
                    <mat-label>Contact</mat-label>
                    <input type="tel" ngModel name="contact" matInput placeholder="Ex. pat@example.com" required
                         minlength="10">
               </mat-form-field>
               <mat-form-field appearance="fill">
                    <mat-label>Filter blood Group</mat-label>
                    <mat-select name="bloodGroup" required ngModel>
                         <mat-option value="A+">A+</mat-option>
                         <mat-option value="A-">A-</mat-option>
                         <mat-option value="B+">B+</mat-option>
                         <mat-option value="B-">B-</mat-option>
                         <mat-option value="O+">O+</mat-option>
                         <mat-option value="O-">O-</mat-option>
                         <mat-option value="AB+">AB+</mat-option>
                         <mat-option value="AB-">AB-</mat-option>
                    </mat-select>
               </mat-form-field>

               <input (change)="onFilechange($event)" class="form-control mb-3" type="file" id="formFile">

               <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" [style.width.%]="progress" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
               </div>


               <button type="submit" mat-raised-button [disabled]="!isUpload" color="primary">Register</button>
               <div class="mt-3">
                    <a href="/" class="text-light  mt-3">Home</a>
               </div>
          </form>
     </div>
</section>